<section>

    <ace-card *ngFor="let item of ( products | async )">

      <ng-container class="ace-card-title">{{item.title}}</ng-container>

      <ng-container class="ace-card-text">{{item.description}}</ng-container>

      <ace-image [source]="item.thumbnail" alternateText="A product"></ace-image>

      <ng-container class="ace-card-infos">{{item.price}}</ng-container>

    </ace-card>


  <app-product-pagination *ngIf="withPagination">
  </app-product-pagination>

</section>
<!--
Control Flow
@if (withPagination) {
  <app-product-pagination></app-product-pagination>
}
 -->
